{% extends 'layouts/base.html' %}

{% block 'title' %}Registros{% endblock  %}

{% block 'content' %}
<div class = "container" style = "margin: 150px 300px;">
        <div class = "container" style="margin: 150px;">
        
        </div>

        <form action="/newemployed/" method="POST">
            {% csrf_token %}
        
            <h2>Empleados</h2>
            
            <div class="mb-3">
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Email" style = "width: 700px">
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder = "Nombres" style = "width: 700px">
            </div>

            <div class="mb-3">
                <select class="form-select" name="organizacion" aria-label="Default select example" style = "width: 700px">
                    <option selected>Seleccione una organización</option>
                    {% for org in organizaciones %}
                    <option value="{{org.id_org}}">{{ org.org_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>
{% endblock  %}