{% extends 'layouts/base.html' %}

{% block 'title' %}Registros{% endblock  %}

{% block 'content' %}
<div class = "container" style = "margin: 150px 300px;">
        <div class = "container" style="margin: 150px;">
        </div>
        <h2>Equipos</h2>
        <form action="/newdevice/" method="POST">
            {% csrf_token %}
        <div class="mb-3">
            <select name = "tipo_equipo" class="form-select" aria-label="Default select example" style = "width: 700px">
                <option selected>Seleccione un equipo</option>
                {% for device in type_devices %}
                <option value="{{device.id_device_type}}">{{device.type_name}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <input type="text" name = "ip" class="form-control" id="exampleInputPassword1" placeholder = "Ip" style = "width: 700px">
        </div>
        
        <div class="mb-3">
            <select class="form-select" name = "procesador" aria-label="Default select example" style = "width: 700px">
                <option selected>Seleccione un procesador</option>
                {% for cpu in cpus %}
                <option value="{{cpu.id_cpu}}">{{ cpu.cpu_name }}</option>
                {% endfor %}
                </select>
        </div>

        <div class = "mb-3">
            <div><label class = "form-label" for = "fecha" style= "color: black;">Fecha de adquisición</label></div>
            <di><input id = "fecha" name = "fecha" type="date"/></dvi>
        </div>

        <div class="mb-3">
            <select class="form-select" name = "so" aria-label="Default select example" style = "width: 700px">
                <option selected>Seleccione un sistema operativo</option>
                {% for s in so %}
                <option value="{{s.id_os}}">{{s.os_name}}</option>
                {% endfor %}   
                </select>
        </div>

        <div class="mb-3">
            <select class="form-select" name = "zone_" aria-label="Default select example" style = "width: 700px">
                <option selected>Seleccione una zona</option>
                {% for zone in zones %}
                <option value="{{zone.id_zone}}">{{zone.zone_name}}</option>
                {% endfor %}
                </select>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
</div>
{% endblock  %}