{% extends 'layouts/base.html' %}

{% block 'content' %}
<div class = "container" style = "margin: 150px 300px;">
    <div class = "container" style="margin: 150px;">
    </div>
    <h2>Zonas</h2>
    <form action="{% url 'newzone' %}" method="POST">
        {% csrf_token %}

    <div class="mb-3">
        <input type="text" name = "name" class="form-control" id="name" placeholder = "Nombre de la Zona" style = "width: 700px">
    </div>  

    <div class="mb-3">
        <select class="form-select" name = "site" aria-label="Site" style = "width: 700px">
            <option selected value="default">Seleccione un sitio</option>
            {% for site in sites %}
            <option value="{{site.id_site}}">{{site.site_name}}</option>
            {% endfor %}
            </select>
    </div>

    <div class="mb-3">
        <select class="form-select" name = "org" aria-label="Site" style = "width: 700px">
            <option selected value="default">Seleccione un sitio</option>
            {% for o in orgs %}
            <option value="{{o.id_org}}">{{o.org_name}}</option>
            {% endfor %}
            </select>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endblock  %}