{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600&display=swap');
    </style>
    <link href="{% static '/css/organizaciones.css' %}" type="text/css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <!-- BARRA DE NAVEGACIÓN -->
    <nav class="navbar navbar-expand-lg navbar-light barra_nav">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a aria-current="page" href="{% url 'inicio' %}">Organizaciones</a>
              </li>
              <li class="nav-item">
                <a aria-current="page" href="{% url 'sitios' %}">Sitios</a>
              </li>
              <li class="nav-item">
                <a aria-current="page" href="{% url 'personas' %}">Personas</a>
              </li>
              <li class="nav-item">
                <a aria-current="page" href="{% url 'dispositivos' %}">Dispositivos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <!-- TITULO -->
    <div class="title1">
        <h3>Permisos de {{persona}}</h3>
    </div>

      <!-- TABLA DE ITEMS -->

      <div class = "container"> 

        <table class="table" style="background-color: white; ">
          <thead>
            <tr>
              
              <th style="text-align: left;">Id Permiso</th>
              <th style="text-align: left">Organización</th>
              <th style="text-align: left;">Sitio</th>
              <th style="text-align: center;">Zona</th>
              <th style="text-align: center;">Id device</th>
              <th style="text-align: center;">Nivel de Acceso</th>
              <th style="text-align: center;">Opciones</th>
            </tr>
          </thead>
          <tbody>

            {% for permiso in permisos %}
            <tr>
              <th scope="row" style="text-align: left;">{{ permiso.id_permission }}</th>
              <td align="left">{{ permiso.id_org }}</td>
              <td align="left">{{ permiso.id_site }}</td>
              <td align="left">{{ permiso.id_zone }}</td>
              <td align="left">{{ permiso.id_dev }}</td>
              <td align="center">{{ permiso.level }}</td>
              <td align="center">
                <div style = " display: inline-block;"> 
                <form action = "{% url 'modificar_permiso' email permiso.id_permission %}" method="POST">
                  {% csrf_token %}
                  <button class="btn btn-outline-primary">Modificar</button>
                </form> 
              </div>
              <div style = " display: inline-block;">
                <form action = "{% url 'eliminar_permiso' email permiso.id_permission %}" method="POST">
                  {% csrf_token %}
                  <button class="btn btn-outline-danger">Eliminar</button>
                </form>
              </div>

              </td> 
            </tr>         
            {% endfor %}
          </tbody>
        </table>
    
      </div>


    <!-- BOTON AGREGAR  -->
      <div class = "boton">
        <form action = "{% url 'formulario_permisos' email %}" method = "POST">
          {% csrf_token %}
          <button class="btn" >Nuevo permiso</button>
        <form>
      </div>

</body>
</html>